body {
    margin-top: 90px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgb(68, 77, 85);
}

#content {
    font-size: 150%
}

h1 {
   color: gold;
}

div {
    color: white;
}

.btn-link {
    color: white;
}

.btn-link:hover {
    color: pink;
}

.card {
    background-color: slategray;
}

.codeExample {
    margin-bottom: 20px;
}